extends layout

block content
    div(class="row", style="background:white;height:100px;box-shadow: 1px 1px 2px #AAAAAA;")
        div(class="col-md-2")
            img(src="http://corp.mamba.ru/test/widget.phtml?id=78666", width="200", height="50", class="img-thumbnail")
        div.pull-right.col-md-8#advert_text
            h3.text_style
                | Я &nbsp;&mdash; PHP-программист, со стажем
                | более трех лет

    div.row.list_skills
        div.my-skills
    div.row.list_skills
        div.quality-container
    include skill
    include look
    div.row.skill-look.hidden
        +lookPHP()
    script(type="text/javascript", src="/javascripts/skills.min.js")
    script(type="text/javascript", src="/javascripts/resume.min.js")
    script.
        $(document).ready(function(){Resume.render()});

