mixin lookPHP
    div#look-php
        p
            | PHP - мой основной профиль в программировании. Я изучаю PHP уже около 5 лет.
            br
            | Навыки
            span.label.label-default ООП
            | ,
            span.label.label-default Symfony 2
            | ,
            span.label.label-default Composer
            | ,
            span.label.label-default Doctrine
            | ,
            span.label.label-default Kohana