script(id="skill-template", type="text/template")
    <div class="skill" data-src="<%= src %>">
    <img src="<%= thumbnail %>" width="<%= w%>" height="<%= h%>" alt="<%= name %>" />
    </div>

script(id="quality-template", type="text/template")
    <div class="quality">
    <span class="label label-warning"><%= title%></span>
    <% if(img != "") { %>
    <img src="<%= img %>" width="<%= w%>" height="<%= h%>" alt="<%= title %>" />
    <% } %>
    </div>



