@font-face {
    font-family: "Remigton";
    src: url(/fonts/PermianSlabSerifTypeface.otf);
}
@font-face{
    font-family: 'WebSymbolsLigaRegular';
    src: url('/fonts/WebSymbolsLiga-Regular.eot');
    src: url('/fonts/WebSymbolsLiga-Regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/WebSymbolsLiga-Regular.woff') format('woff'),
    url('/fonts/WebSymbolsLiga-Regular.ttf') format('truetype'),
    url('/fonts/WebSymbolsLiga-Regular.svg#WebSymbolsRegular') format('svg');
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('/fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ABC_TypeWriterRussian';
    src: url('/fonts/ABC_TypeWriterRussian.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: url("/images/fon1.png");
}

hr {
    list-style: decimal;
    border: 1px solid #000000;
}

.text_style {
    letter-spacing: 1.2px;
    font-family: 'Remigton';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4em;
}
.list_skills {
    margin-top: 10px;
    text-align: center;
}
.list_skills div, span{
    display: inline;
}

.list_skills h4, h5{
    line-height: 1.7;
    display: inline;
}

.skill{
    cursor: pointer;
}

.quality-container {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    text-align: left;
}


.opacity-70 {
    opacity: 0.6;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=60); /* IE 5.5+*/
    -moz-opacity: 0.6; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 0.6; /* Konqueror 3.1, Safari 1.1 */
}

.opacity-100 {
    opacity: 1.2;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=120); /* IE 5.5+*/
    -moz-opacity: 1.2; /* Mozilla 1.6 и ниже */
    -khtml-opacity: 1.2; /* Konqueror 3.1, Safari 1.1 */
}


#advert_text
{

}

.look-page {
    font-family: 'Remigton';
    font-size: 15px;
    letter-spacing: 1.2px;
    line-height: 1.7;
    background-color: #ffffff;
    color: #000000;
    font-weight: 500;
    margin-top: 20px;
}

.look-page a {
    color: #2d6987;
    font-weight: bolder;
}

.look-page ul li {
    list-style: none;
}

.i_me {
    position: absolute;
    background-image: url("/images/man.png");
}

.locale {
    cursor: pointer;
    padding: 10px;
}

.locale {
    background: #fff; /* фон */
    width: 50px; /* ширина */
    height: 50px; /* высота */
    padding: 3px; /* внутренние отступы(верх, право, низ, лево) */
    border: 1px solid #999; /* граница(ширина, тип, цвет) */
    border-radius: 50%; /*скругление равно 50 процентам от общей ширины, фактически 25 пикселей, вот и круг получили(ещё есть с префиксом -moz и -o) */
    margin-left: 5px;
}

span.circle {
    width: 100%; /* ширина 100% */
    height: 100%;
    border: 0; /* граница нулевая */
    margin: 0; /* внешний отступ отстутствует */
    border-radius: 50%; /* читай выше */
    background-color: #d8d8d8;
}


